#cyberbody {
  font-family: 'Arial', arial, sans-serif;
  font-weight: 300;
  color: black;
  background-image: url("../images/cyberback.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 15px;
}

#indexbody {
  font-family: 'Alfa Slab One';
  color: black;
}

.jumbotron {
  min-height: 500px;
  background-image: url(../images/security.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  color: black;
  font-stretch: semi-expanded;
  font-size: 10px;
}

.btn {
  background-color: white;
  color: blue;
  height: 50px;
  font-family: Georgia, cursive;
  font-size: 25px;
  margin-right: 50px;
}

.navbar-brand {
  padding-top: 5px;
}

.thumbpic {
  max-width: 20px;
}

h3.caption {
    font-style: italic;
    color: blue;
    font-size: 20px;
  }

h4 {
    color: black;
    font-size: 14px;
  }

.contact{
  font-size: 16px;
  text-align: left;
}

#mypic {
  height: 150px;
}

#navpic {
  height: 40px;
  width: 40px;
  border-radius: 50%;
}

#resume {
  max-width: 100%;
  height: auto;
}
